[Unit]
Description=Run SV-TMS full stack backup every 6 hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=true
RandomizedDelaySec=5m
Unit=svtms-backup.service

[Install]
WantedBy=timers.target
