<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq1_YGKZ0yNqUiS-ChX7Mn9v3uSzpNJf0</string>
	<key>GCM_SENDER_ID</key>
	<string>729258825838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svtrucking.svdriverapp</string>
	<key>PROJECT_ID</key>
	<string>sv-driver-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sv-driver-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729258825838:ios:fbc70df217a24ea15d2e7f</string>
</dict>
</plist>